<a href="https://colab.research.google.com/github/wallaceleonardo/bootcamp-IGTI-Desenvolvedor_Python/blob/main/%5BIGTI%5D_BTC_PYT_Desafio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# carregandos as bibliotecas
import numpy as np
import pandas as pd

- rec_id: índice do registro;
- datetime : data
- season : estação do ano (1: inverno, 2: primevera, 3: verão, 4: outono);
- year : ano (0: 2011, 1:2012);
- month : mês (1 a 12);
- hour : hora do dia (0 a 23)
- is_holiday : booleano indicando feriado;
- weekday : dia da semana (0: domingo, ..., 6: sábado);
- is_workingday : booleano indicando dia útil;
- weather_condition: (1: limpo, 2: nublado, 3: chuva leve, 4: chuva forte);
- temp : Temperatura escalada entre 0 e 1. Valor original em graus Celsius: -8 a 39;
- atemp: Sensação térmica escalada entre 0 e 1. Valor original em graus Celsius: -16 a 50;
- humidity: Humidade relativa (0 a 1)
- windspeed: Velocidade do vento escalada entre 0 e 1 (máximo original: 67).
- casual: usuários casuais;
- registered: usuários registrados;
- total_count: contador total de alugueis (casual+registered).

In [ ]:
# == DATASET 1 == #
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")
df.head()

     datetime  rec_id  season  year  ...  windspeed  casual  registered  total_count
0  2011-01-01       1       1     0  ...        0.0       3          13           16
1  2011-01-01       2       1     0  ...        0.0       8          32           40
2  2011-01-01       3       1     0  ...        0.0       5          27           32
3  2011-01-01       4       1     0  ...        0.0       3          10           13
4  2011-01-01       5       1     0  ...        0.0       0           1            1

[5 rows x 17 columns]

In [ ]:
# date time conversion
df['datetime'] = pd.to_datetime(df['datetime'])

# categorical variables
df['season'] = df['season'].astype('category')
df['is_holiday'] = df['is_holiday'].astype('category')
df['weekday'] = df['weekday'].astype('category')
df['weather_condition'] = df['weather_condition'].astype('category')
df['is_workingday'] = df.is_workingday.astype('category')
df['month'] = df.month.astype('category')
df['year'] = df.year.astype('category')
df['hour'] = df.hour.astype('category')

In [ ]:
# Questão 1 - dimensão
df.shape

(17379, 17)

In [ ]:
df.describe()

           rec_id          temp  ...    registered   total_count
count  17379.0000  17379.000000  ...  17379.000000  17379.000000
mean    8690.0000      0.496987  ...    153.786869    189.463088
std     5017.0295      0.192556  ...    151.357286    181.387599
min        1.0000      0.020000  ...      0.000000      1.000000
25%     4345.5000      0.340000  ...     34.000000     40.000000
50%     8690.0000      0.500000  ...    115.000000    142.000000
75%    13034.5000      0.660000  ...    220.000000    281.000000
max    17379.0000      1.000000  ...    886.000000    977.000000

[8 rows x 8 columns]

In [ ]:
# Questão 2 - Média da coluna windspeed
df['windspeed'].mean()

0.1900976063064631

In [ ]:
# Questão 3 - Média da coluna temperatura
df['temp'].mean()

0.4969871684216586

In [ ]:
# Questão 4 - dimensão de 2011
df[df['year']==0].shape

(8645, 17)

In [ ]:
# Questão 5 - dimensão de 2012
df[df['year']==1].shape

(8734, 17)

In [ ]:
# Questão 6 - dimensão de 2011
df.loc[df['year']==0, 'total_count'].sum()

1243103

In [ ]:
# Questão 7 - dimensão de 2012
df.loc[df['year']==1, 'total_count'].sum()

2049576

In [ ]:
# Questão 8 - qual estação do ano contém a maior média de alugueis?
# Questão 9 - qual estação do ano contém a menor média de alugueis?
df.groupby(by='season').mean()

              rec_id      temp     atemp  ...     casual  registered  total_count
season                                    ...
1        6302.008015  0.299147  0.298116  ...  14.290901   96.823668   111.114569
2        7287.727376  0.544663  0.520547  ...  46.160581  162.183488   208.344069
3        9526.588968  0.706410  0.656004  ...  50.287144  185.729093   236.016237
4       11655.779301  0.423138  0.415738  ...  30.666824  168.202032   198.868856

[4 rows x 8 columns]

In [ ]:
# Questão 10 - qual horário do dia contém a maior média de alugueis?
# Questão 11 - qual horário do dia contém a menor média de alugueis?
df[['total_count', 'hour']].groupby(by='hour').mean().sort_values(by='total_count',
                                                                  ascending=False)

      total_count
hour
17     461.452055
18     425.510989
8      359.011004
16     311.983562
19     311.523352
13     253.661180
12     253.315934
15     251.233196
14     240.949246
20     226.030220
9      219.309491
7      212.064649
11     208.143054
10     173.668501
21     172.314560
22     131.335165
23      87.831044
6       76.044138
0       53.898072
1       33.375691
2       22.869930
5       19.889819
3       11.727403
4        6.352941

In [ ]:
# Questão 12 - qual dia da semana contém a maior média de alugueis?
# Questão 13 - qual dia da semana contém a menor média de alugueis?
df[['total_count', 'weekday']].groupby(by='weekday').mean().sort_values(by='total_count',
                                                                  ascending=False)

         total_count
weekday
4         196.436665
5         196.135907
2         191.238891
3         191.130505
6         190.209793
1         183.744655
0         177.468825

In [ ]:
# Questão 14, às quartas-feiras (weekday = 3), qual horário do dia contém
# a maior média de alugueis?
df.loc[df['weekday']==3, ['total_count', 'hour']].groupby('hour').mean().sort_values(by='total_count',
                                                                  ascending=False)

      total_count
hour
17     513.144231
18     494.029126
8      488.326923
19     357.504854
7      303.980769
16     272.961538
20     256.660194
9      238.528846
21     194.669903
12     193.903846
13     185.826923
15     181.288462
14     170.548077
11     152.201923
22     143.689320
10     131.894231
6      107.807692
23      83.737864
0       34.557692
5       25.750000
1       15.336538
2        7.813725
4        4.968750
3        4.888889

In [ ]:
# Questão 15, aos sábados (weekday = 6), qual horário do dia contém
# a maior média de alugueis?
df.loc[df['weekday']==6, ['total_count', 'hour']].groupby('hour').mean().sort_values(by='total_count',
                                                                  ascending=False)

      total_count
hour
13     385.371429
15     382.428571
14     381.333333
12     375.380952
16     366.142857
17     334.409524
11     328.609524
18     292.048077
10     263.723810
19     239.932692
9      186.790476
20     180.865385
21     156.000000
22     139.663462
23     115.855769
8      114.476190
0       94.304762
1       67.780952
2       50.495238
7       45.961905
3       22.885714
6       21.000000
5        8.291262
4        7.657143