<a href="https://colab.research.google.com/github/wallaceleonardo/bootcamp-IGTI-Desenvolvedor_Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# imports
import pandas as pd
import matplotlib as plt

##**Pandas**

**Leitura de dados**

In [26]:
pd.read_csv?

In [68]:
# leitura dos dados csv
df = pd.read_csv("https://pycourse.s3.amazonaws.com/temperature.csv")
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [15]:
# leitura de planilhas excel
# 2 abas (worksheets)

# leitura do arquivo todo
excel_file = pd.ExcelFile("https://pycourse.s3.amazonaws.com/temperature.xlsx")

In [52]:
pd.read_excel?

In [54]:
# leitura da primeira aba (Sheet1)
# dados numéricos com separador decimal = '.'
df2 = pd.read_excel(excel_file, sheet_name='Sheet1')
df2

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

In [55]:
# leitura da primeira aba (Sheet2)
df3 = pd.read_excel(excel_file, sheet_name='Sheet2')
df3

        date temperatura classification
0 2020-01-01        29,1         quente
1 2020-02-01        31,2   muito quente
2 2020-03-01        28,5         quente
3 2020-04-01        28,0         quente
4 2020-05-01        24,0    confortavel
5 2020-06-01        20,0           frio

In [56]:
# visualizando as primeiras n linhas
n = 3
df.head(n)

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente

In [57]:
# visualizando as últimas n linhas
n = 3
df.tail(n)

         date  temperatura classification
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [58]:
# dtypes
df.dtypes

date               object
temperatura       float64
classification     object
dtype: object

In [59]:
# estatísticas básicas
df.describe()

       temperatura
count     6.000000
mean     26.800000
std       4.075782
min      20.000000
25%      25.000000
50%      28.250000
75%      28.950000
max      31.200000

In [60]:
# dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            6 non-null      object
 1   temperatura     6 non-null      float64
 2   classification  6 non-null      object
dtypes: float64(1), object(2)
memory usage: 272.0+ bytes

In [65]:
# nomes das colunas
df.columns

Index(['date', 'temperatura', 'classification'], dtype='object')

In [66]:
# nomes das colunas
df.columns = ['col1', 'col2', 'col3']
df

         col1  col2          col3
0  2020-01-01  29.1        quente
1  2020-02-01  31.2  muito quente
2  2020-03-01  28.5        quente
3  2020-04-01  28.0        quente
4  2020-05-01  24.0   confortavel
5  2020-06-01  20.0          frio

**Indexação**

In [69]:
df.head()

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel

In [70]:
# seleção de uma coluna
df['date']

0    2020-01-01
1    2020-02-01
2    2020-03-01
3    2020-04-01
4    2020-05-01
5    2020-06-01
Name: date, dtype: object

In [71]:
# tipo
type(df['date'])

pandas.core.series.Series

In [72]:
# seleção de múltiplas colunas
df[['date', 'classification']]

         date classification
0  2020-01-01         quente
1  2020-02-01   muito quente
2  2020-03-01         quente
3  2020-04-01         quente
4  2020-05-01    confortavel
5  2020-06-01           frio

In [74]:
# tipo
type(df[['date', 'classification']])

pandas.core.frame.DataFrame

In [75]:
# iloc
help(df.iloc)

Help on _iLocIndexer in module pandas.core.indexing object:

class _iLocIndexer(_LocationIndexer)
 |  Purely integer-location based indexing for selection by position.
 |
 |  ``.iloc[]`` is primarily integer position based (from ``0`` to
 |  ``length-1`` of the axis), but may also be used with a boolean
 |  array.
 |
 |  Allowed inputs are:
 |
 |  - An integer, e.g. ``5``.
 |  - A list or array of integers, e.g. ``[4, 3, 0]``.
 |  - A slice object with ints, e.g. ``1:7``.
 |  - A boolean array.
 |  - A ``callable`` function with one argument (the calling Series or
 |    DataFrame) and that returns valid output for indexing (one of the above).
 |    This is useful in method chains, when you don't have a reference to the
 |    calling object, but would like to base your selection on some value.
 |
 |  ``.iloc`` will raise ``IndexError`` if a requested indexer is
 |  out-of-bounds, except *slice* indexers which allow out-of-bounds
 |  indexing (this conforms with python/numpy *slice* semantics).
 |
 |  See more at :ref:`Selection by Position <indexing.integer>`.
 |
 |  See Also
 |  --------
 |  DataFrame.iat : Fast integer location scalar accessor.
 |  DataFrame.loc : Purely label-location based indexer for selection by label.
 |  Series.iloc : Purely integer-location based indexing for
 |                 selection by position.
 |
 |  Examples
 |  --------
 |  >>> mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
 |  ...           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
 |  ...           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
 |  >>> df = pd.DataFrame(mydict)
 |  >>> df
 |        a     b     c     d
 |  0     1     2     3     4
 |  1   100   200   300   400
 |  2  1000  2000  3000  4000
 |
 |  **Indexing just the rows**
 |
 |  With a scalar integer.
 |
 |  >>> type(df.iloc[0])
 |  <class 'pandas.core.series.Series'>
 |  >>> df.iloc[0]
 |  a    1
 |  b    2
 |  c    3
 |  d    4
 |  Name: 0, dtype: int64
 |
 |  With a list of integers.
 |
 |  >>> df.iloc[[0]]
 |     a  b  c  d
 |  0  1  2  3  4
 |  >>> type(df.iloc[[0]])
 |  <class 'pandas.core.frame.DataFrame'>
 |
 |  >>> df.iloc[[0, 1]]
 |       a    b    c    d
 |  0    1    2    3    4
 |  1  100  200  300  400
 |
 |  With a `slice` object.
 |
 |  >>> df.iloc[:3]
 |        a     b     c     d
 |  0     1     2     3     4
 |  1   100   200   300   400
 |  2  1000  2000  3000  4000
 |
 |  With a boolean mask the same length as the index.
 |
 |  >>> df.iloc[[True, False, True]]
 |        a     b     c     d
 |  0     1     2     3     4
 |  2  1000  2000  3000  4000
 |
 |  With a callable, useful in method chains. The `x` passed
 |  to the ``lambda`` is the DataFrame being sliced. This selects
 |  the rows whose index label even.
 |
 |  >>> df.iloc[lambda x: x.index % 2 == 0]
 |        a     b     c     d
 |  0     1     2     3     4
 |  2  1000  2000  3000  4000
 |
 |  **Indexing both axes**
 |
 |  You can mix the indexer types for the index and columns. Use ``:`` to
 |  select the entire axis.
 |
 |  With scalar integers.
 |
 |  >>> df.iloc[0, 1]
 |  2
 |
 |  With lists of integers.
 |
 |  >>> df.iloc[[0, 2], [1, 3]]
 |        b     d
 |  0     2     4
 |  2  2000  4000
 |
 |  With `slice` objects.
 |
 |  >>> df.iloc[1:3, 0:3]
 |        a     b     c
 |  1   100   200   300
 |  2  1000  2000  3000
 |
 |  With a boolean array whose length matches the columns.
 |
 |  >>> df.iloc[:, [True, False, True, False]]
 |        a     c
 |  0     1     3
 |  1   100   300
 |  2  1000  3000
 |
 |  With a callable function that expects the Series or DataFrame.
 |
 |  >>> df.iloc[:, lambda df: [0, 2]]
 |        a     c
 |  0     1     3
 |  1   100   300
 |  2  1000  3000
 |
 |  Method resolution order:
 |      _iLocIndexer
 |      _LocationIndexer
 |      pandas._libs.indexing._NDFrameIndexerBase
 |      builtins.object
 |
 |  Methods inherited from _LocationIndexer:
 |
 |  __call__(self, axis=None)
 |      Call self as a function.
 |
 |  __getitem__(self, key)
 |
 |  __setitem__(self, key, value)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _LocationIndexer:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from _LocationIndexer:
 |
 |  __annotations__ = {'_valid_types': <class 'str'>}
 |
 |  axis = None
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pandas._libs.indexing._NDFrameIndexerBase:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __reduce__ = __reduce_cython__(...)
 |
 |  __setstate__ = __setstate_cython__(...)
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from pandas._libs.indexing._NDFrameIndexerBase:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from pandas._libs.indexing._NDFrameIndexerBase:
 |
 |  name
 |
 |  ndim
 |
 |  obj

In [76]:
# indexação por índice
# selecionando todas as linhas e a coluna 1
# coluna 1: temperatura
df.iloc[:, 1]

0    29.1
1    31.2
2    28.5
3    28.0
4    24.0
5    20.0
Name: temperatura, dtype: float64

In [77]:
# indexação por nome
# selecionando todas as linhas e a coluna 1
df.loc[:, 'temperatura']

0    29.1
1    31.2
2    28.5
3    28.0
4    24.0
5    20.0
Name: temperatura, dtype: float64

In [82]:
# indexação por índice de múltipas colunas
df.iloc[:, 1:3]

   temperatura classification
0         29.1         quente
1         31.2   muito quente
2         28.5         quente
3         28.0         quente
4         24.0    confortavel
5         20.0           frio

In [79]:
# indexação por nome de múltiplas colunas
df.loc[:, ['temperatura', 'classification']]

   temperatura classification
0         29.1         quente
1         31.2   muito quente
2         28.5         quente
3         28.0         quente
4         24.0    confortavel
5         20.0           frio

In [80]:
# indexação por nome de múltiplas colunas
df.loc[:,'temperatura':]

   temperatura classification
0         29.1         quente
1         31.2   muito quente
2         28.5         quente
3         28.0         quente
4         24.0    confortavel
5         20.0           frio

**Indexação booleana**

In [85]:
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [84]:
# dtype
df.dtypes

date               object
temperatura       float64
classification     object
dtype: object

In [86]:
# transformando o tipo da coluna date para datetime
df['date'] = pd.to_datetime(df['date'])
df.dtypes

date              datetime64[ns]
temperatura              float64
classification            object
dtype: object

In [87]:
# setando o índice
df = df.set_index('date')

In [88]:
# visualizando o índice
df

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente
2020-05-01         24.0    confortavel
2020-06-01         20.0           frio

In [89]:
# 5 primeiras linhas
df.head()

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente
2020-05-01         24.0    confortavel

In [90]:
# indexação booleana
# seleção de exemplos acima de 25 graus
df[df['temperatura'] >= 25]

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente

In [91]:
# indexação booleana considerando datetime
# seleção de entradas até Março de 2020
df[df.index <= '2020-03-01']

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente

In [93]:
# indexação booleana considerando datetime
# seleção de entradas até Março de 2020 e
# slice na coluna classification
df.loc[df.index <= '2020-03-01', ['classification']]

           classification
date
2020-01-01         quente
2020-02-01   muito quente
2020-03-01         quente

In [94]:
# indexação booleana considerando datetime
# seleção de entradas até Março 2020 e
# slice na coluna classification
df.iloc[df.index <= '2020-03-01', [-1]]

           classification
date
2020-01-01         quente
2020-02-01   muito quente
2020-03-01         quente

**Ordenação**

In [102]:
# df.sort_values
df.sort_values?

In [96]:
# ordenação crescente por uma coluna
df.sort_values(by='temperatura')

            temperatura classification
date
2020-06-01         20.0           frio
2020-05-01         24.0    confortavel
2020-04-01         28.0         quente
2020-03-01         28.5         quente
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente

In [97]:
# ordenação crescente por uma coluna
df.sort_values(by='classification')

            temperatura classification
date
2020-05-01         24.0    confortavel
2020-06-01         20.0           frio
2020-02-01         31.2   muito quente
2020-01-01         29.1         quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente

In [98]:
# ordenação crescente por mais de uma coluna
df.sort_values(by=['classification', 'temperatura'])

            temperatura classification
date
2020-05-01         24.0    confortavel
2020-06-01         20.0           frio
2020-02-01         31.2   muito quente
2020-04-01         28.0         quente
2020-03-01         28.5         quente
2020-01-01         29.1         quente

In [99]:
# ordenação descrescente por uma coluna
df.sort_values(by='temperatura', ascending=False)

            temperatura classification
date
2020-02-01         31.2   muito quente
2020-01-01         29.1         quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente
2020-05-01         24.0    confortavel
2020-06-01         20.0           frio

In [101]:
# ordenação crescente pelo índice
df.sort_index()

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente
2020-05-01         24.0    confortavel
2020-06-01         20.0           frio

In [100]:
# ordenação decrescente pelo índice
df.sort_index(ascending=False)

            temperatura classification
date
2020-06-01         20.0           frio
2020-05-01         24.0    confortavel
2020-04-01         28.0         quente
2020-03-01         28.5         quente
2020-02-01         31.2   muito quente
2020-01-01         29.1         quente

**Visualização**